<link rel="stylesheet" href="app.css"/>

<h1>Search For A Movie</h1>

<div class="search-container">
  <form action="/results" method="GET">
    <input type="text" placeholder="search for a movie" name="search">
    <input type="submit">
  </form>
</div>
